 .botaoprimer{
  padding: 1em;
  border-radius: 4px;
  text-decoration: none;
  display: block;  
 }
 .container{
    background-color: black;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%; 
 }
 .container__caixa{
    margin: 0 6em;
  }
  h2{
    color: aliceblue;
    font-style: italic;
  }